:root {
    --primary-color: #003049;
    --secondary-color: #b12020;

    --heading-font: "Funnel Display", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}
header {
    background-color: var(--primary-color);
    color: white;
}
header h1, h2 {
    font-family: var(--heading-font);
    margin-left: 8px;
}
#logo {
    display: flex;
    padding: 10px;
    align-items: center;
}
#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    position: absolute;
    top: -3px;
    right: 1rem;
    font-size: 50px;
    cursor: pointer;
}
#menu::before {
    content: "☰";
    color: white;
}
#menu.open::before {
    content: "x";
    color: white;
}
.menuLinks {
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 18px;
}
.menuLinks a, li {
    list-style: none;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    color: white;
}
.menuLinks a:hover {
    background-color: #a41e1e;
    color: #f9fdc4;
    font-weight: 700;
}
.menuLinks .active {
    color: #75ff9f;
}
nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.open {
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease-out;
}
#hero img {
    width: 100%;
    height: auto;
}
#call-to-action {
    position: absolute;
    bottom: 20px;
    right: 16px;
    font-size: 20px;
    padding: 10px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
}
#call-to-action:hover {
    background-color: var(--primary-color);
}
#hero {
    position: relative;
}

h3, figcaption {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    text-align: left;
    font-family: var(--heading-font);
    font-size: 20px;
}
#welcome, #why-build, #my-build {
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgb(190, 190, 190);
    margin: 15px auto;
    width: 90%;
}
p {
    padding: 8px;
}
figure img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 8px;
}
figure, #main-parts-overview {
    text-align: center;
}
.part figcaption {
    text-align: center;
    background-color: var(--primary-color);
}
.part {
    border: solid 1px black;
    margin: 15px;
    border-radius: 5px;
}
#main-parts-overview h2 {
    font-size: 28px;
}

/* I decided against having two columns in mobile view for the lower part - it made the text harder to read and made the site as a whole less cohesive in my opinion */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#parts-details {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
    border: 0;
    box-shadow: 0 0 1em gray;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: 0.5s alternate slide-in;
}
footer a, footer a:hover, footer a:active, footer a:visited {
    font-style: none;
    color: white;
}

#parts-details::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

detail h4, detail p {
    padding: 8px;
}
detail h4 {
    background-color: var(--secondary-color);
    color: white;
    font-size: 25px;
}

dialog button {
    position: absolute;
    top: 19px;
    right: 23px;
    padding: .4rem 1rem;
    font-size: 20px;
    border-radius: 5px;
}

@keyframes slide-in {
    from {
        transform: translateY(150vw);
    }

    to {
        transform: translateY(-50%);
    }
}


@media screen and (min-width: 800px) {
    #menu {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav {
        grid-template-rows: 1fr;
    }
    figure img, .part:hover {
        transition: all .1s ease-in-out;
    }
    figure img:hover, .part:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px gray;
    }
    #home-main {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        margin: 0 auto;
    }
    .parts-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
    }
}