:root {
    --primary-color: #678d58;
    --secondary-color: #5a544b;

    --heading-font: "Funnel Display", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}

header {
    background-color: var(--primary-color);
    color: white;
    /* padding: 10px; */
}
header h1 {
    font-family: var(--heading-font);
    text-align: center;
    padding: 20px;
}
header img {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer img {
    padding: 10px;
}
#bio {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}
#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    position: absolute;
    top: -3px;
    right: 1rem;
    font-size: 50px;
    cursor: pointer;
}
#menu::before {
    content: "☰";
    color: white;
}
#menu.open::before {
    content: "x";
    color: white;
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 18px;
}
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}
.navigation a:hover {
    background-color: #4f4a42;
    color: rgb(212, 254, 218);
    font-weight: 700;
}
.open a {
    display: block;
}
main {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
section {
    margin: 0 auto;
    padding: 1rem;
    border: solid 1px #4f4a42;
    border-radius: 3px;
    margin-bottom: 1rem;
    max-width: 400px;
}
h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--heading-font);
    padding: 13px;
}
figure {
    /* margin: 0 auto; */
    text-align: center;
    font-family: var(--paragraph-font);
    color: rgb(97, 97, 97);
    padding: .5rem;
}
figure img {
    width: 100%;
    height: 100%;
}
figcaption {
    padding-top: 15px;
    font-size: 14px;
}
#courses {
    margin: 0 auto;
    padding: 10px;
}
#courses li {
    background-color: var(--secondary-color);
    color: rgb(246, 246, 246);
    padding: 7px;
    margin-top: 0.5rem;
    border-radius: 3px;
}
.location {
    text-align: center;
}
.credit-list {
    color: white;
    font-style: italic;
    font-size: 14px;
}
#course-displays {
    text-align: center;
    padding: 10px;
    color: white;
}
#course-displays section {
    background-color: var(--secondary-color);
}
section #completed {
    background-color: var(--primary-color);
}
#credits, #completed-credits {
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 1px;
    padding-bottom: 7px;
}
.filter button {
    padding: 10px;
    margin: 3px;
    font-size: 15px;
    color: white;
    background-color: darkslategrey;
    border-radius: 5px;
}
.navigation .active {
    color: rgb(189, 255, 184);
}

@media screen and (min-width: 800px) {
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    main, section {
        max-width: 1000px;
    }
     .container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
     }
    .coursework {
        width: 95%;
    }
    section #certificate {
        max-width: 1000px;
    }
    #course-displays {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 2fr));
    }
    #course-displays section {
        width: 200px;
    }
}